<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/067f8bbe-5d3a-4a46-919d-31cc13d4c59a/resourcegroups/StepIt/providers/Microsoft.Web/sites/MiniTurboAzAPI</ResourceId>
    <ResourceGroup>StepIt</ResourceGroup>
    <ApiResourceId>/subscriptions/067f8bbe-5d3a-4a46-919d-31cc13d4c59a/resourceGroups/StepIt/providers/Microsoft.ApiManagement/service/MiniTurboAzAPIPlan/apis/MiniTurboAzAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://miniturboazapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>ba5c4a04-2c30-476c-b086-4aacaa5cdf5e</ProjectGuid>
    <MSDeployServiceURL>miniturboazapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MiniTurboAzAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MiniTurboAzAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>